* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 5vw;
    border: solid 3px rgb(107, 180, 146);
}

.child {
    width: 25%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-wrap {
    border: solid 3px rgb(243, 182, 71);
    width: 80vw;
    height: 80vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.grid-child {
    background-color: red;
}