body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#table {
    width: 75vh;
    height: 75vh; 
    background-color: rgb(231, 205, 135);
    border: solid 5px rgb(172, 153, 99);
    padding: 4px; 
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board {
    width: 70vh;
    height: 70vh;
    display: flex;
    border: solid 4px white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    border: solid 1px white; 
}

.row {
    height: 100%;
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.square {
    height: 100%; 
    width: 100%;
    background-color: red;
}

.unplayable {
    background-color: black;
}
