body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

#table {
    width: 75vh;
    height: 75vh; 
    background-color: rgb(231, 205, 135);
    border: solid 5px rgb(172, 153, 99);
    padding: 4px; 
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board {
    width: 70vh;
    height: 70vh;
    display: flex;
    border: solid 4px white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 198, 141);
}

/* div {
    border: solid 1px white; 
} */

.row {
    height: 100%;
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.square {
    height: 100%; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unplayable {
    background-color: rgb(94, 70, 54);
}

.black-puck {
    width: 70%;
    height: 70%;
    background-color: black; 
    border: solid 0.25em white;
    border-radius: 50%;
    cursor: pointer; 
}

.red-puck {
    width: 70%;
    height: 70%;
    background-color: red;
    border: solid 0.25em white;
    border-radius: 50%;
    cursor: pointer; 
}

.red-king {
    cursor: pointer; 
    width: 70%;
    height: 70%;
    background-color: aqua;
    border: solid 0.25em white;
    border-radius: 50%;
}

.black-king {
    cursor: pointer; 
    width: 70%;
    height: 70%;
    background-color: purple; 
    border: solid 0.25em white;
    border-radius: 50%;
}

.movable-puck {
    background-color: rgb(94, 174, 255);
    /* border: solid 0.25em rgb(57, 155, 252); */
    background-size: 50%;
    /* transition: ease-in-out; */
}

.destination {
    background-color: rgba(60, 208, 109, 0.5);
    cursor: pointer;
}

.possible-jumped-puck {
    background-color: rgba(245, 0, 0, 0.5)
}